<h1>Election Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @election_types.each do |election_type| %>
      <tr>
        <td><%= election_type.name %></td>
        <td><%= link_to 'Edit', edit_admin_election_type_path(election_type) %></td>
        <td><%= link_to 'Destroy', admin_election_type_path(election_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Election Type', new_admin_election_type_path %>
